<%- include("partials/header") -%>



<div class="profile-body">
    <%= typeof msg != "undefined" ? msg : "" %>
    <form class="profile-box" method="post">
        <!-- <input name="profileImage" type="file"> -->
        <input type="text" name="profileName" value="<%= profileName %>"  placeholder="Username">
        <h3>Bio</h3>
        <textarea class="bio" name="bioPara" rows="4" cols="50"></textarea>
        <input type="submit" value="Save">
    </form>
</div>



<%- include("partials/footer") -%>